$patientInfo-items-width: 100px;
$sidebar-height: auto;
$side-bar-width: 310px;
.pat-data-age {
    font-family: Roboto Italic !important;
}


/*adding Sprites*/

.transportation {
    background: url('images/ChenMed-Sprited.png') no-repeat -71px -91px;
    width: 25px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.transportation-disabled {
    background: url('images/ChenMed-Sprited.png') no-repeat -71px -121px;
    width: 25px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.blind {
    background: url('images/ChenMed-Sprited.png') no-repeat -109px -91px;
    width: 25px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.blind-disabled {
    background: url('images/ChenMed-Sprited.png')no-repeat -109px -121px;
    width: 25px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.hearing-impaired {
    background: url('images/ChenMed-Sprited.png') no-repeat no-repeat -147px -91px;
    width: 11px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.hearing-impaired-disabled {
    background: url('images/ChenMed-Sprited.png')no-repeat no-repeat -147px -121px;
    width: 11px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.pat-info-details {
    margin-top: 37;
}

@mixin pat-info-col-height($col-height) {
    height: $col-height;
}

@mixin pat-info-col-height-scroll($col-height) {
    height: $col-height;
}

@mixin pat-info-col-margin($margin-top) {
    margin-top: $margin-top;
}

@mixin pat-info-lower-margin($margin-top) {
    margin-top: $margin-top;
}

@mixin patient-view-init($width,
$height,
$margin-left) {
    width: $width;
    height: $height;
    margin-left: $margin-left;
}

@mixin patient-view-init-scroll($width,
$height,
$margin-left) {
    width: $width;
    height: $height;
    margin-left: $margin-left;
}

@mixin pat-info-icons-div-margin($margin-top) {
    margin-top: $margin-top;
}

@mixin patient-info-banner-background($layout,
$color,
$top-color-percent,
$bottom-color-percent) {
    background-image: linear-gradient($layout, $color, $top-color-percent, $bottom-color-percent);
}

@mixin patient-info-banner-background-scroll($layout,
$color,
$top-color-percent,
$bottom-color-percent) {
    background-image: linear-gradient($layout, $color, $top-color-percent, $bottom-color-percent);
}

@mixin image-radius($width,
$height) {
    width: $width;
    height: $height;
}

@mixin image-radius-scroll($width,
$height) {
    width: $width;
    height: $height;
}

@mixin font-touch($font-size,
$font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin pat-info-col-adjust($left) {
    left: $left;
}

@mixin pat-info-col3-adjust($left) {
    left: $left;
}

@mixin pat-info-col-width($width) {
    width: $width;
}

@mixin app-title-left($margin-left) {
    margin-left: $margin-left;
}

@mixin line-height($line-height) {
    line-height: $line-height;
}

@mixin display-adjust($display) {
    display: $display;
}

@mixin pat-info-col1-margin($margin-left) {
    margin-left: $margin-left;
}

@mixin header-wrapper-height($height) {
    height: $height;
}

@mixin pat-info-init-scroll($font-size,
$top,
$left,
$position) {
    font-size: $font-size;
    top: $top;
    left: $left;
    position: $position;
}

@mixin pat-info-col-top($top) {
    top: $top;
}

.patient-info-title-wrapper {
    background-color: #448EDE;
    font-family: Roboto;
    font-size: 1.2em;
}

.patient-info-title-first-segment {
    -webkit-text-fill-color: #AFD4FF;
}

.patient-info-title-second-segment {
    vertical-align: baseline;
    -webkit-text-fill-color: #fff;
}

@media (min-device-width: 768px) and (max-device-width: 869px) {
    .patient-name {
        color: #FFFFFF;
        font-family: Roboto Thin;
        font-size: 20px;
        line-height: 50px;
        font-weight: 100;
    }
    .patient-info-date-div {
        margin-top: 8px;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        font-family: Roboto Thin;
        color: #FFFFFF;
    }
    .patient-title {
        text-align: right;
        font-size: 35px;
        letter-spacing: -1px;
        line-height: 41px;
        font-family: Roboto Thin;
    }
    .pat-info-det-table {
        display: table;
        width: 250px;
    }
    .pat-info-det-table-right {
        display: table;
        width: 250px;
    }
    .patient-det-headings {
        color: #9B9B9B;
        font-family: Roboto Medium;
        @include font-touch(18px,
        500);
        display: inline-block;
        line-height: 24px;
        width: 40%;
    }
    .pat-info-lower {
        margin-top: 55px; // @include pat-info-lower-margin(5px);
    }
    .pat-info-lower-right {
        @include pat-info-lower-margin(22px);
        float: right;
    }
    .PatientSummary {
        color: black;
    }
    .pat-info-visit-det {
        margin-top: 72px;
        width: 120%;
    }
    .pat-info-col-margin {
        @include pat-info-col-margin(2%);
    }
    .pat-info-icons-div-margin {
        @include pat-info-icons-div-margin(5px);
    }
    .patient-info-banner-background {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 50%,
        white 30%); //#4A90E2
    }
    .patient-view-init {
        @include patient-view-init(100%,
        200px,
        -20px);
    }
    .pat-info-col-height {
        @include pat-info-col-height(180px);
    }
    .patient-info-banner-background-scroll {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 53%,
        white 30%); //#4A90E2
    }
    .patient-view-init-scroll {
        @include patient-view-init(100%,
        190px,
        -20px);
    }
    .pat-info-col-height-scroll {
        @include pat-info-col-height(190px);
    }
    .image-radius {
        @include image-radius(120px,
        120px);
    }
    .image-radius-scroll {
        @include image-radius(110px,
        110px);
    }
    .font-touch {
        @include font-touch(13px,
        500);
    }
    .pat-info-col-adjust {
        @include pat-info-col-adjust(-20px);
    }
    .pat-info-col3-adjust {
        @include pat-info-col3-adjust(-80px);
    }
    .pat-info-col-width {
        @include pat-info-col-width(20%);
    }
    .pat-info-col4-adjust {
        position: relative;
        display: inline-table;
    }
    .line-height {
        @include line-height(15px);
    }
    .display-adjust {
        @include display-adjust(-webkit-box);
    }
    .pat-info-col1-margin {
        @include pat-info-col1-margin(-20px);
    }
    .header-wrapper-height {
        @include header-wrapper-height(40%);
    }
    #pat-info-address {
        margin-top: 84px;
    }
    .pat-info-address {
        margin-top: 84px;
    }
    .mrnValScroll {
        position: relative;
        left: -60px;
    }
    .mrnValNoScroll {}
    .genderScroll {
        position: relative;
        left: -110px;
        top: 12px;
    }
    .genderValScroll {
        position: relative;
        left: -120px;
        top: 12px;
    }
    .dobScroll {
        position: relative;
        left: -91px;
        top: 12px;
    }
    .dobValScroll {
        position: relative;
        left: -110px;
        top: 12px;
    }
    .lastVisitScroll {
        position: relative;
        left: 70px;
    }
    .lastVisitValScroll {
        position: relative;
        left: 35px;
    }
    #pat-info-col4 {
        margin-left: -110px;
    }
    .pat-info-lower-right-adjust {
        position: relative;
        right: -26px;
    }
    .primary-phone-extension {
        position: relative;
        left: -52px;
    }
    .pat-info-det-adjust {
        position: relative;
        top: 17px;
    }
    .patient-det-values-adjust {
        position: relative;
        left: -36px;
    }
    .patient-right-det-values-adjust {
        position: relative;
        left: -26px;
    }
    .pat-info-address-adjust {
        position: relative;
        left: -30px;
        top: 11px;
    }
}

@media (min-device-width: 870px) and (max-device-width: 1023px) {
    .patient-name {
        color: #FFFFFF;
        font-family: Roboto Thin;
        font-size: 30px;
        line-height: 50px;
        font-weight: 100;
    }
    .patient-info-date-div {
        margin-top: 5px;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        font-family: Roboto Thin;
        color: #FFFFFF;
    }
    .patient-det-headings {
        color: #9B9B9B;
        font-family: Roboto Medium;
        @include font-touch(18px,
        500);
        display: inline-block;
        line-height: 24px;
        width: 40%;
    }
    .pat-info-det-table {
        display: table;
        width: 250px;
    }
    .pat-info-det-table-right {
        display: table;
        width: 250px;
    }
    .patient-title {
        text-align: right;
        font-size: 35px;
        letter-spacing: -1px;
        line-height: 41px;
        font-family: Roboto Thin;
    }
    .pat-info-lower {
        @include pat-info-lower-margin(25px);
    }
    .pat-info-lower-right {
        @include pat-info-lower-margin(33px);
        float: right;
    }
    .PatientSummary {
        color: black;
    }
    .pat-info-visit-det {
        margin-top: 70px;
        width: 110%;
    }
    .pat-info-col-height {
        @include pat-info-col-height(180px);
    }
    .pat-info-col-margin {
        @include pat-info-col-margin(2%);
    }
    .pat-info-icons-div-margin {
        @include pat-info-icons-div-margin(5px);
    }
    .patient-info-banner-background {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 50%,
        white 30%);
    }
    .patient-view-init {
        @include patient-view-init(100%,
        200px,
        -10px);
    }
    .patient-info-banner-background-scroll {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 60%,
        white 30%);
    }
    .patient-view-init-scroll {
        @include patient-view-init(100%,
        180px,
        -10px);
    }
    .pat-info-col-height-scroll {
        @include pat-info-col-height(180px);
    }
    .image-radius {
        @include image-radius(130px,
        130px);
    }
    .image-radius-scroll {
        @include image-radius(110px,
        110px);
    }
    .font-touch {
        @include font-touch(13px,
        500);
    }
    .pat-info-col-adjust {
        @include pat-info-col-adjust(0px);
    }
    .pat-info-col-width {
        @include pat-info-col-width(15%);
    }
    .line-height {
        @include line-height(15px);
    }
    .display-adjust {
        @include display-adjust(-webkit-box);
    }
    .pat-info-col1-margin {
        @include pat-info-col1-margin(-20px);
    }
    .header-wrapper-height {
        @include header-wrapper-height(45%);
    }
    #pat-info-address {
        margin-top: 104px;
    }
    .pat-info-address {
        margin-top: 104px;
    }
    .mrnValScroll {
        position: relative;
        left: -60px;
    }
    .mrnValNoScroll {}
    .genderScroll {
        position: relative;
        left: -140px;
    }
    .genderValScroll {
        position: relative;
        left: -150px;
    }
    .dobScroll {
        position: relative;
        left: -91px;
    }
    .dobValScroll {
        position: relative;
        left: -110px;
    }
    .lastVisitScroll {
        position: relative;
        left: 70px;
    }
    .lastVisitValScroll {
        position: relative;
        left: 50px;
    }
    .pat-info-lower-right-adjust {
        position: relative;
        right: -26px;
    }
    .primary-phone-extension {
        position: relative;
        left: -52px;
    }
    .pat-info-det-adjust {
        position: relative;
        top: 5px;
    }
    .patient-det-values-adjust {
        position: relative;
        left: -36px;
    }
    .patient-right-det-values-adjust {
        position: relative;
        left: -26px;
    }
    .pat-info-address-adjust {
        position: relative;
        left: -30px;
    }
    .pat-info-address-adjust {
        position: relative;
        left: -70px;
    }
}

@media (min-device-width: 1024px) and (max-device-width: 1365px) {
    .patient-name {
        color: #FFFFFF;
        font-family: Roboto Thin;
        font-size: 35px;
        line-height: 50px;
        font-weight: 100;
    }
    .patient-info-date-div {
        margin-top: 8px;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        font-family: Roboto Thin;
        color: #FFFFFF;
    }
    .patient-det-headings {
        color: #9B9B9B;
        font-family: Roboto Medium;
        @include font-touch(18px,
        500);
        display: inline-block;
        line-height: 24px;
        width: 40%;
    }
    .patient-title {
        text-align: right;
        font-size: 35px;
        letter-spacing: -1px;
        line-height: 41px;
        font-family: Roboto Thin;
    }
    .pat-info-det-table {
        display: table;
        width: 250px;
    }
    .pat-info-det-table-right {
        display: table;
        width: 250px;
    }
    .app-title-left {
        @include app-title-left(-25px);
    }
    .pat-info-lower {
        @include pat-info-lower-margin(20px);
    }
    .pat-info-lower-right {
        @include pat-info-lower-margin(39px);
        float: right;
        margin-right: -70px !important;
    }
    .PatientSummary {
        color: black;
    }
    .pat-info-visit-det {
        margin-top: 55px;
    }
    .pat-info-col-height {
        @include pat-info-col-height(180px);
    }
    .pat-info-col-margin {
        @include pat-info-col-margin(2%);
    }
    .pat-info-icons-div-margin {
        @include pat-info-icons-div-margin(5px);
    }
    .patient-info-banner-background {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 60%,
        white 30%);
    }
    .patient-view-init {
        @include patient-view-init(90%,
        200px,
        -10px);
    }
    .patient-info-banner-background-scroll {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 60%,
        white 30%);
    }
    .patient-view-init-scroll {
        @include patient-view-init(90%,
        180px,
        -10px);
    }
    .pat-info-col-height-scroll {
        @include pat-info-col-height(180px);
    }
    .image-radius {
        @include image-radius(150px,
        150px);
    }
    .image-radius-scroll {
        @include image-radius(115px,
        115px);
    }
    .font-touch {
        @include font-touch(13px,
        500);
    }
    .pat-info-col-adjust {
        @include pat-info-col-adjust(-10px);
    }
    .pat-info-col-width {
        @include pat-info-col-width(13%);
    }
    .line-height {
        @include line-height(15px);
    }
    .pat-info-col1-margin {
        @include pat-info-col1-margin(-10px);
    }
    #pat-info-address {
        margin-top: 100px;
        width: 250px;
    }
    .pat-info-address {
        margin-top: 100px;
    }
    .mrnScroll {
        @include pat-info-init-scroll(13px,
        -7px,
        0px,
        relative);
    }
    .mrnValScroll {
        @include pat-info-init-scroll(13px,
        -7px,
        -60px,
        relative);
    }
    .genderScroll {
        @include pat-info-init-scroll(13px,
        7px,
        -125px,
        relative);
    }
    .genderValScroll {
        @include pat-info-init-scroll(13px,
        7px,
        -140px,
        relative);
    }
    .dobScroll {
        @include pat-info-init-scroll(13px,
        7px,
        -91px,
        relative);
    }
    .dobValScroll {
        @include pat-info-init-scroll(13px,
        7px,
        -110px,
        relative);
    }
    .lastVisitScroll {
        @include pat-info-init-scroll(13px,
        -7px,
        50px,
        relative);
    }
    .lastVisitValScroll {
        @include pat-info-init-scroll(13px,
        -7px,
        15px,
        relative);
    }
    .primary-phone-extension {
        position: relative;
        left: -52px;
    }
    .pat-info-det-adjust {
        position: relative;
        top: 20px;
    }
    .patient-det-values-adjust {
        position: relative;
        left: -36px;
    }
    .pat-info-address-adjust {
        position: relative;
        left: -80px;
        top: 11px;
    }
    .patient-right-det-values-adjust {
        position: relative;
        left: -26px;
    }
}

@media (min-device-width: 1366px) and (max-device-width: 1440px) {
    .patient-name {
        color: #FFFFFF;
        font-family: Roboto Thin;
        font-size: 40px;
        line-height: 50px;
        font-weight: 100;
    }
    .patient-info-date-div {
        margin-top: 10px;
        font-size: 15px;
        line-height: 18px;
        text-align: right;
        font-family: Roboto Medium;
        color: #FFFFFF;
        margin-right: 10px;
    }
    .patient-det-headings {
        color: #9B9B9B;
        font-family: Roboto Medium;
        @include font-touch(13px,
        500);
        display: inline-block;
        line-height: 20px;
        width: 40%;
    }
    .pat-info-det-table {
        display: table;
        width: 236px;
    }
    .pat-info-det-table-right {
        display: table;
        width: 190px;
    }
    .patient-title {
        text-align: right;
        font-size: 35px;
        letter-spacing: -1px;
        line-height: 41px;
        font-family: Roboto Thin;
    }
    .pat-info-lower {
        //margin-top: 41px
        @include pat-info-lower-margin(41px);
    }
    .pat-info-lower-right {
        @include pat-info-lower-margin(43px);
        float: right;
    }
    .pat-info-visit-det {
        margin-top: 55px;
    }
    .pat-info-col-height {
        @include pat-info-col-height(200px);
    }
    .pat-info-col-margin {
        @include pat-info-col-margin(2%);
    }
    .pat-info-icons-div-margin {
        @include pat-info-icons-div-margin(5px);
    }
    .patient-view-init {
        @include patient-view-init(90%,
        240px,
        50px);
    }
    .patient-info-banner-background {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 50%,
        white 30%);
        margin-bottom: -20px;
    }
    .patient-info-banner-background-scroll {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 63%,
        white 30%);
        margin-bottom: -20px;
    }
    .patient-view-init-scroll {
        @include patient-view-init(90%,
        170px,
        50px);
    }
    .pat-info-col-height-scroll {
        @include pat-info-col-height(170px);
    }
    .image-radius {
        @include image-radius(180px,
        180px);
    }
    .image-radius-scroll {
        @include image-radius(120px,
        120px);
    }
    .font-touch {
        @include font-touch(13px,
        500);
    }
    .pat-info-col-adjust {
        @include pat-info-col-adjust(0px);
    }
    .pat-info-col-width {
        @include pat-info-col-width(13%);
    }
    .line-height {
        @include line-height(17px);
    }
    #pat-info-address {
        margin-top: 117px;
        line-height: 20px;
        width: 250px;
    }
    .pat-info-address {
        margin-top: 117px;
        line-height: 20px;
    }
    .mrnScroll {
        @include pat-info-init-scroll(15px,
        -14px,
        0px,
        relative);
    }
    .mrnValScroll {
        @include pat-info-init-scroll(15px,
        -14px,
        -10px,
        relative);
    }
    .genderScroll {
        @include pat-info-init-scroll(15px,
        -12px,
        -90px,
        relative);
    }
    .genderValScroll {
        @include pat-info-init-scroll(15px,
        -12px,
        -80px,
        relative);
    }
    .dobScroll {
        @include pat-info-init-scroll(15px,
        -12px,
        -15px,
        relative);
    }
    .dobValScroll {
        @include pat-info-init-scroll(15px,
        -12px,
        2px,
        relative);
    }
    .lastVisitScroll {
        @include pat-info-init-scroll(15px,
        -15px,
        30px,
        relative);
    }
    .lastVisitValScroll {
        @include pat-info-init-scroll(15px,
        -15px,
        30px,
        relative);
    }
    .primary-phone-extension {
        position: relative;
        left: -36px;
    }
    .pat-info-det-adjust {
        position: relative;
        top: 27px;
    }
    .pat-info-address-adjust {
        position: relative;
        left: -15px;
    }
    .pat-info-lower-right-adjust {
        position: relative;
        right: 70px;
    }
    .patient-det-values-adjust {
        position: relative;
        left: -36px;
    }
}

@media (min-device-width: 1441px) and (max-device-width: 1920px) {
    .patient-name {
        color: #FFFFFF;
        font-family: Roboto Thin;
        font-size: 50px;
        line-height: 50px;
        font-weight: 100;
    }
    .patient-info-date-div {
        margin-top: 10px;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        font-family: Roboto Thin;
        color: #FFFFFF;
        margin-right: 10px;
    }
    .patient-det-headings {
        color: #9B9B9B;
        font-family: Roboto Medium;
        @include font-touch(18px,
        500);
        display: inline-block;
        line-height: 24px;
        width: 40%;
    }
    .patient-title {
        text-align: right;
        font-size: 35px;
        letter-spacing: -1px;
        line-height: 41px;
        font-family: Roboto Thin;
    }
    .pat-info-det-table {
        display: table;
        width: 236px;
    }
    .pat-info-det-table-right {
        display: table;
        width: 243px;
    }
    .pat-info-lower {
        @include pat-info-lower-margin(20px);
    }
    .pat-info-lower-right {
        @include pat-info-lower-margin(30px);
        float: right;
    }
    .PatientSummary {
        color: black;
    }
    .pat-info-visit-det {
        margin-top: 40px;
    }
    .pat-info-col-height {
        @include pat-info-col-height(230px);
    }
    .pat-info-col-margin {
        @include pat-info-col-margin(2%);
    }
    .patient-view-init {
        @include patient-view-init(90%,
        240px,
        60px);
    }
    .pat-info-icons-div-margin {
        @include pat-info-icons-div-margin(5px);
    }
    .patient-info-banner-background {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 50%,
        white 30%);
    }
    .patient-info-banner-background-scroll {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 65%,
        white 30%);
    }
    .patient-view-init-scroll {
        @include patient-view-init(90%,
        180px,
        60px);
    }
    .pat-info-col-height-scroll {
        @include pat-info-col-height(180px);
    }
    .image-radius {
        @include image-radius(180px,
        180px);
    }
    .image-radius-scroll {
        @include image-radius(130px,
        130px);
    }
    .font-touch {
        @include font-touch(18px,
        500);
    }
    .pat-info-col-adjust {
        @include pat-info-col-adjust(0px);
    }
    .pat-info-col-width {
        @include pat-info-col-width(13%);
    }
    .line-height {
        @include line-height(24px);
    }
    .header-wrapper-height {
        @include header-wrapper-height(30%);
    }
    #pat-info-address {
        margin-top: 100px;
        width: 250px;
    }
    .pat-info-address {
        margin-top: 100px;
    }
    .mrnScroll {
        @include pat-info-init-scroll(17px,
        -6px,
        0px,
        relative);
    }
    .mrnValScroll {
        @include pat-info-init-scroll(17px,
        -6px,
        -30px,
        relative);
    }
    .genderScroll {
        @include pat-info-init-scroll(17px,
        -6px,
        -100px,
        relative);
    }
    .genderValScroll {
        @include pat-info-init-scroll(17px,
        -6px,
        -84px,
        relative);
    }
    .dobScroll {
        @include pat-info-init-scroll(17px,
        -6px,
        19px,
        relative);
    }
    .dobValScroll {
        @include pat-info-init-scroll(17px,
        -6px,
        35px,
        relative);
    }
    .lastVisitScroll {
        @include pat-info-init-scroll(17px,
        -4px,
        -25px,
        relative);
    }
    .lastVisitValScroll {
        @include pat-info-init-scroll(17px,
        -4px,
        -30px,
        relative);
    }
    .primary-phone-extension {
        position: relative;
        left: -52px;
    }
    .primary-phone-extension {
        position: relative;
        left: 1px;
    }
    .pat-info-det-adjust {
        position: relative;
        top: 14px;
    }
    .pat-info-lower-right-adjust {
        position: relative;
        right: 70px;
    }
    .pat-info-col-top {
        @include pat-info-col-top(6px);
    }
}

@media (min-device-width: 1921px) and (max-device-width: 2560px) {
    .patient-name {
        color: #FFFFFF;
        font-family: Roboto Thin;
        font-size: 50px;
        line-height: 50px;
        font-weight: 100;
    }
    .pat-info-lower {
        @include pat-info-lower-margin(20px);
    }
    .pat-info-lower-right {
        @include pat-info-lower-margin(40px);
        float: right;
    }
    .PatientSummary {
        color: black;
    }
    .pat-info-visit-det {
        margin-top: 43px;
    }
    .pat-info-col-height {
        @include pat-info-col-height(250px);
    }
    .pat-info-col-margin {
        @include pat-info-col-margin(2%);
    }
    .patient-view-init {
        @include patient-view-init(90%,
        240px,
        60px);
    }
    .pat-info-icons-div-margin {
        @include pat-info-icons-div-margin(5px);
    }
    .patient-info-banner-background {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 60%,
        white 30%);
    }
    .patient-info-banner-background-scroll {
        @include patient-info-banner-background(to bottom,
        #448EDE,
        #448EDE 50%,
        white 30%);
    }
    .patient-view-init-scroll {
        @include patient-view-init(90%,
        240px,
        60px);
    }
    .pat-info-col-height-scroll {
        @include pat-info-col-height(250px);
    }
    .image-radius {
        @include image-radius(180px,
        180px);
    }
    .image-radius-scroll {
        @include image-radius(180px,
        180px);
    }
    .font-touch {
        @include font-touch(18px,
        500);
    }
    .pat-info-col-adjust {
        @include pat-info-col-adjust(0px);
    }
    .pat-info-col-width {
        @include pat-info-col-width(auto);
    }
    .line-height {
        @include line-height(24px);
    }
    .header-wrapper-height {
        @include header-wrapper-height(25%);
    }
    #pat-info-address {
        margin-top: 104px;
    }
    .pat-info-address {
        margin-top: 104px;
        width: 250px;
    }
    .mrnValScroll {
        position: relative;
        left: -60px;
    }
    .mrnValNoScroll {}
    .genderScroll {
        position: relative;
        left: -110px;
    }
    .genderValScroll {
        position: relative;
        left: -120px;
    }
    .dobScroll {
        position: relative;
        left: -91px;
    }
    .dobValScroll {
        position: relative;
        left: -110px;
    }
    .lastVisitScroll {
        position: relative;
        left: 70px;
    }
    .lastVisitValScroll {
        position: relative;
        left: 50px;
    }
    .primary-phone-extension {
        position: relative;
        left: -52px;
    }
}

//@media(min-width:768px) and (max-width:1919px) {
.patient-view {
    color: white;
    @extend .patient-info-banner-background;
    @extend .patient-view-init;
    @extend .display-adjust;
}

.patient-view-scroll {
    color: white;
    @extend .patient-info-banner-background-scroll;
    @extend .patient-view-init-scroll;
    @extend .display-adjust;
}

.patient-info-icons-div {
    @extend .pat-info-icons-div-margin;
}

.patient-info-hpp {
    background-color: #66BC46;
    font-family: Roboto Regular;
    font-size: 80%;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.patient-info-hpp-disabled {
    background-color: grey;
}

.patient-info-snp {
    background-color: #005296;
    font-family: Roboto Regular;
    font-size: 80%;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    position: relative;
    top: 1px;
}

.patient-info-snp-disabled {
    background-color: grey;
}

.patient-info-access-icons {
    font-size: 10px;
}

.patient-details {
    color: Black;
    font-family: Roboto Regular;
    font-size: 10px;
    margin-top: 30%;
}

.patient-det-headings {
    color: #9B9B9B;
    font-family: Roboto Medium;
    @extend .font-touch;
    display: inline-block;
    @extend .line-height;
    width: 40%;
}

.patient-det-values {
    color: #4A4A4A;
    font-family: Roboto Regular;
    @extend .font-touch;
    @extend .line-height; //font-size: 14px;
    //font-weight: bold;
}

.patient-info-icons {
    font-size: 150%;
}

.pat-info-det-table>* {
    display: table-cell;
    white-space: nowrap;
}

.pat-info-det-table-right>* {
    display: table-cell;
    white-space: nowrap;
}

.pat-info-white-space {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10px;
    @extend .pat-info-col-height;
}

.pat-info-white-space-scroll {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10px;
    @extend .pat-info-col-height-scroll;
}

#pat-info-col1 {
    width: auto;
    @extend .pat-info-col-margin;
    @extend .pat-info-col-height;
    position: relative;
    float: left;
    white-space: nowrap;
    @extend .pat-info-col1-margin;
}

#pat-info-col2 {
    width: auto;
    @extend .pat-info-col-margin;
    @extend .pat-info-col-height;
    position: relative;
    float: left;
    @extend .pat-info-col-adjust;
}

#pat-info-col3 {
    @extend .pat-info-col-width;
    @extend .pat-info-col-margin;
    @extend .pat-info-col-height;
    @extend .pat-info-col-top;
    position: relative;
    float: left;
    @extend .pat-info-col-adjust;
    @extend .pat-info-col3-adjust;
    line-height: 0px;
}

#pat-info-col4 {
    //width: auto;
    @extend .pat-info-col-margin;
    @extend .pat-info-col-height;
    float: right;
}

#pat-info-check {
    margin-top: 25px;
}

#pat-info-white-space-right {
    float: right;
}

.img-circle {
    background: white;
    @extend .image-radius;
    padding: 2px;
    border: 1px solid #BDBDBD;
}

.img-circle-scroll {
    background: white;
    @extend .image-radius-scroll;
    padding: 2px;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
}

.header-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;
    @extend .header-wrapper-height !optional;
}

.rel-header-wrapper {
    position: relative;
    width: 100%;
    top: 0; //  @extend .header-wrapper-init;
    background-image: linear-gradient(to bottom, #448EDE, #448EDE 50%, white 30%);
}

.rel-menu-wrapper {
    background-color: #448EDE;
    height: 100%;
    display: -webkit-inline-flex;
    position: relative;
    float: left;
}