//Media Queries
$phone: "(min-device-width: 320px) and (max-device-width: 768px)";
$tablet: "(min-device-width: 768px) and (max-device-width: 1024px)";
$desktop: "(min-width: 1024px)";
$tabletAndPhone: "(min-device-width: 320px) and (max-device-width: 1024px)";
//BEM Mixin
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}
.b-meds-card {
    display: block;
    @include e('header') {
        @include m('green') {
            border-bottom: solid #318930 !important;
            color: #318930 !important;
        }
        @include m('parens') {
            color: #A7ABAC !important;
            font-size: 0.7em !important;
        }
    }
}

.scrollit {
    overflow:scroll;
    height:100px;
}

//todo: change below to BEM
.faMeds.fa {
    width: 50%;
}

.medSelectSort.md-active {
    box-shadow: none !important;
    border-style: solid !important;
    border-width: 1px !important;
    z-index: 50000;
}

.meds-row-number {
    text-align: right;
}
.medications-card-header {
       // @extend .card-header-common;
       // @include card-header-specfic($medications-header-color);
        height: 45px;
    }
.meds-header-parens{
    //color: $medications-header-parens !important;
    //font-size: $font-size-medium !important;
}
.meds-supply-column{
    width: 15%;
}
.meds-days-left{
    //color: $medications-header-parens !important;
    font-size: .9em;
}

#med-content-header {
   // @extend .card-content-align;
}

#med-content-det {
   // @extend .card-content-align;
}

@media only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .table-meds table,
    .table-meds thead,
    .table-meds tbody,
    .table-meds th,
    .table-meds td,
    .table-meds tr {
        display: block;
    }
    .table-meds thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-meds tr {
        border: 1px solid #ccc;
    }
    .table-meds td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    .table-meds td:before {
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 1%;
        white-space: nowrap;
    }
}

//Hide first column on larger screens
@media (min-width: 1024px) {
    .table-meds.table tr th:nth-child(1) {
        display: none;
    }
    .meds-row-number {
        display: none;
    }
}

//IPAD  && Phone Media Query
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    #medButtons {
        margin-bottom: 3%;
    }
    #medButtons button {
        width: 33%;
    }
    #medActiveMedsLabel {
        display: none !important;
    }
    #medHistoryLink {
        display: none !important;
    }
    #tableMeds td:nth-of-type(1):before {
        content: "";
    }
    #tableMeds td:nth-of-type(2):before {
        content: "Name & SIG:";
    }
    #tableMeds td:nth-of-type(3):before {
        content: "Start Date:";
    }
    #tableMeds td:nth-of-type(4):before {
        content: "Prescribed By:";
    }
    #tableMeds td:nth-of-type(5):before {
        content: "Refill/Qty:";
    }
    #tableMeds td:nth-of-type(6):before {
        content: "Supply Left(days):";
    }
    #tableMeds td.empty-meds-cell {
        display: none;
    }
}

//PHONE 
@media only screen and (min-device-width: 319px) and (max-device-width: 750px) {
    #medButtons {
        margin-bottom: 6%;
    }
    #medButtons button {
        width: 33%;
        font-size: .1em;
    }
    #medActiveMedsLabel {
        display: none !important;
    }
    #medHistoryLink {
        display: none !important;
    }
}