<!--todo: move inline styles to scss-->
<div id="medications-container">
	<div class="b-card b-meds-card" id="medsDiv">
		<div id="" class="b-card__header b-meds-card__header--green">
			<span class="b-card__header-title">Medications 
                <span class="b-meds-card__header--parens">(Active)</span>
                </span>
			<a ng-click="medModel.setExpandMed()" ng-show="medModel.showMedsToggle" href="#" class="align-right" data-toggle="collapse"
				data-target="#meds" data-collapse-group="myDivs">
				<span class="b-card__header-arrow" ng-class="medModel.showPlus ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></span></a>
		</div>
		<div class="card-content">
			<div id="meds" class="table-container collapse in" ng-class="medModel.showMedsToggle? 'collapse': 'collapse in'">
				<table id="tableMeds" class="b-table b-meds-table table-meds table table-hover" st-table="medModel.displayedCollection" st-safe-src="medModel.patientMeds">
					<thead class="b-table__thead">
                        	<tr class="b-table__tr" id="meds-content">
							<th class="b-table__th--hidden">Row</th>
							<th class="b-table__th pointer" st-sort="medModel.getters.medicationName" st-sort-default="true" st-skip-natural="true">Name and SIG</th>
							<th class="b-table__th pointer" st-sort="medModel.getters.medicationStartDate" st-skip-natural="true">Start Date</th>
							<th class="b-table__th pointer" st-sort="medModel.getters.prescriber" st-skip-natural="true">Prescribed By</th>
							<th class="b-table__th pointer" st-sort="medModel.getters.refillQty" st-skip-natural="true">Refill/Qty</th>
							<th class="b-table__th pointer meds-supply-column" st-sort="medModel.getters.daysSupplyLeft" st-skip-natural="true">Supply Left <span class="meds-days-left">(days)</span></th>
						</tr>
					</thead>
					<tbody style="border-bottom: solid #f2efef;">
                      
						<tr ng-repeat="med in medModel.displayedCollection track by $index">
							<td class="b-table__td b-table__td--hidden" data-title="Medications Row number">{{$index+1}} of {{medModel.displayedCollection.length}}</td>
							<td class="b-table__td" id="med-content-det" data-title="Name & SIG with comments">
								<div><strong>{{med.medicationName}}</strong></div>
								<div class="light-grey">{{med.dosageInstruction.text}}
									<span ng-if="med.dosageInstruction.additionalInstructions.text">-- {{med.dosageInstruction.additionalInstructions.text}}</span>
								</div>
								</td>
							<td  class="light-grey" data-title="Start Date">{{med.medicationStartDate|date:'MM/dd/yyyy'}}</td>
							<td class="light-grey" data-title="Prescribed By">{{med.prescriber.display}}</td>
							<td class="light-grey" data-title="Refill/Qty">{{med.refillQty}}</td>
							<td class="light-grey" data-title="Supply">{{med.daysSupplyLeft}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>